.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.contact-form-container {
  flex: 1;
  padding: 20px;
  margin-right: 20px;
}

.contact-form-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-form-container p {
  margin-bottom: 20px;
  color: #555;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.contact-form button {
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-info {
  flex: 0.5;
  background-color: #111010;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.contact-info h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.contact-info p {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color: #fff;
}

.contact-info i {
  margin-right: 10px;
  color: #ffc107;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-form-container,
  .contact-info {
    margin: 0 0 20px;
  }
}

/* Spinner container to center the spinners */
.spinner-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

/* Message styling */
.form-message {
  margin-top: 15px;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}

.form-message.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.form-message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}
